<header class="index  d-log-block">
  <nav class="d-flex align-itmes-center sticky">
    <a href="#" class="mr-auto">
      <%= image_tag 'lavieet1.png', size:'150x40' %>
    </a>
    <div class="ml-3">
      <a href="#" class="d-flex justify-content-end about"> Top </a>
    </div>
    <div class="ml-3">
      <a href="#" class="guide"> Event </a>
    </div>
    <div class="ml-3">
      <a href="#" class="guide"> Cast </a>
    </div>
    <div class="ml-3">
      <a href="#" class="guide"> System </a>
    </div>
    <div class="ml-3">
      <a href="#" class="guide"> Schedule </a>
    </div>
    <div class="ml-3">
      <a href="#" class="guide"> Access </a>
    </div>
    <div class="ml-3">
      <a href="#" class="guide"> Recruit </a>
    </div>
    <div class="ml-3">
      <a href="#" class="guide"> Link </a>
    </div>
  </nav>
</header>
<article>
  <section id="about_owners" class="container mb-5 mt-5">
   <div class="text-center">
    <a href="#">
      <%= image_tag 'https://www.clubcamelot.jp/new/uploads/headerImg/hi6_0_96ec0f9f4d71953c.jpg', size:'1110x494' %>
    </a>
   </div>
  </section>
  <section id="clubs" class="container mt-3 mb-5">
    <div class="head">
      <div class="head_wrap">
        <h2>Cast</h2>
      <div class="line"></div>
      </div>
    </div>
      <div class="card-columns">
        <div class="container">
          <div class="card">
            <img class="card-img-top" src="https://img.nights.fun/img/girls/tt/a-tokyo/grdr0001079916_0009684889pc.jpg?dw=200&rmprof=y&imgopt=y" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">ロマネコンティ</h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 水戸 </div>
               <div class="cast-comment"> こんばんわ </div>
             </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://img.nights.fun/img/girls/tt/a-tokyo/grdr0001079916_0009684898pc.jpg?dw=200&rmprof=y&imgopt=y" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">リシャール</h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 大工町 </div>
               <div class="cast-comment"> こんばんわ </div>
             </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://www.chick.co.jp/roppongi/wp-content/uploads/2017/06/MG_7075-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">テスト</h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 東京 </div>
               <div class="cast-comment"> こんばんわ </div>
             </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://contents.gunosy.com/8/12/80cc6a25b32702acc2955f10a1f4f8ec_content.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> テスト </h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 東京 </div>
               <div class="cast-comment"> こんばんわ </div>
             </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://i.ytimg.com/vi/bC0wsC20Lds/hqdefault.jpg">
            <div class="card-body">
              <h5 class="card-title">テスト</h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 東京 </div>
               <div class="cast-comment"> こんばんわ </div>
             </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://contents.gunosy.com/8/12/80cc6a25b32702acc2955f10a1f4f8ec_content.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">テスト</h5>
            <div class="d-flex justify-content-lg-between justify-content-end card_footer">
              <div class="location d-lg-inline-block">
               <img class="location_icon" src="https://d1xgtamobon6ik.cloudfront.net/static/images/index/icon-location.svg" alt="location_icon"> 東京 </div>
               <div class="cast-comment"> こんばんわ </div>
             </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pcwidgets-ryokin" style="text-align: center; width: 100%; padding-bottom: 50px;">
        <h2>System</h2>
        <div class="line"></div>
        <div align="center" style="margin: 10px 0;">
          <img src="//img.nights.fun/img/shop/tt/a-tokyo/shfee1210005052_pc.jpg?imgopt=y" alt="料金表">
        </div>
        <p>■各種クレジットカード御利用頂けます</p>
        <img src="//img.nights.fun/img/icon/card/03.png?cache02=1521518286&amp;imgopt=y" style="height:20px;" alt="">
        <img src="//img.nights.fun/img/icon/card/04.png?cache02=1521518286&amp;imgopt=y" style="height:20px;" alt="">
      </div>
    </section>
    <h2>Access</h2>
    <div class="line"></div>
    <section id="googlemap">
      <div id="map" style="width:100%;height:401px;"></div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBpNfjMqeZJ43fyTzluUuFmkYWnAWOK3Q&callback=initMap"async defer></script>
        <script>
          var map;
          var marker;
          var center = {
            lat: 36.380851, //緯度
            lng: 140.458519 //経度
          };
          function initMap() { //id="map"の位置に地図を生成
            map = new google.maps.Map(document.getElementById('map'), {
              center: center,
              zoom: 12
            });
            marker = new google.maps.Marker({ //マーカーの表示
              position: center,
              map: map
            });
          }
        </script>
    </section>
</article>
<footer>
  <div class="container" >
    <nav class="text-nowrap d-lg-flex d-none pt-5">
     <ul class="list-unstyled mr-5">
      <li class="">La vie et</li>
      <li><a href="#">La vie etについて</a></li>
      <li><a href="#">メディアの方へ</a></li>
     </ul>
    <ul class="list-unstyled mr-5">
     <li>La vie et</li>
      <li><a href="#">ご利用ガイド・よくあるご質問</a></li>
      <li><a href="#">お問い合わせ</a></li>
      <li><a href="#">運営会社</a></li>
    </ul>
    <ul class="list-unstyled">
     <li>ご利用にあたって</li>
     <li><a href="#">利用規約</a></li>
     <li><a href="#">特定商取引法に関する表示</a></li>
     <li><a href="#">プライバシーポリシー</a></li>
    </ul>
    </nav>
    <div class="d-flex justify-content-lg-between justify-content-center flex-lg-row-reverse flex-column text-center pt-5">
    <div class="social mb-4">
      <a href="#" target="_blank" id="facebook_link" class="d-inline-block">
        <i class="facebook"></i>
      </a>
      <a href="#" target="_blank" class="d-inline-block">
        <i class="twitter"></i>
      </a>
    </div>
    <div class="logo">
      <h2 title="CLUBS" class="mb-0"></h2>
      <p class="copyright text-lg-left text-center pb-4"> © 会社名 </p>
     </div>
   </div>
  </div>
</footer>
